body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.container {
    max-width: 600px;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px; 
}

button {
    padding: 20px;
    border: none;
    border-radius: 4px;
    background-color: #ddff00;
    color: #000000;
    cursor: pointer;
}

button:hover {
    background-color: #efe30d;
}